<%- include("partials/header"); -%>
  <h1>Home</h1>

  <p>Welcome to the Daily Journal Family! My name is Ajay and I am glad that you are here to read our famous blog posts.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos ipsum facere iste velit ea voluptatem incidunt illum
    porro aperiam fugiat? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, omnis.
    <br>Thank you for joining us.
  </p>



  <% posts.forEach(function(post){ %>

    <h2>
      <%=post.title%>
    </h2>
    <p>
      <%=post.content.substring(0, 100) + " ..." %>
        <a href="/posts/<%=post._id%>">Read More</a>
    </p>


    <% }) %>


      <%- include("partials/footer"); -%>